{% extends 'base.html' %} {% block content %}
<p>edit.html</p>
<form action="{% url 'pos:update' detail.pk %}" name="posform">
  <div class="mb-3">
    <label for="" class="form-label">제목</label>
    <input type="text" class="form-control" name="title" value="{{detail.title}}" aria-describedby="helpId" placeholder="" />
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">내용</label>
    <textarea name="content" class="form-control" id="content" rows="3">{{detail.content}}</textarea>
  </div>
  <button id="submit" type="submit" class="btn btn-primary">리뷰 쓰기</button>
</form>
<script>
  // 비어있을 때 알림 보내기
  const submit = document.querySelector("#submit");
  submit.addEventListener("click", function (event) {
    const posForm = document.posform;
    if (!posForm.title.value) {
      event.preventDefault();
      alert("제목이 비어 있습니다.");
    } else if (!posForm.content.value) {
      event.preventDefault();
      alert("내용이 비어 있습니다.");
    }
  });
</script>
{% endblock content %}
