{% extends 'base.html' %} {% block content %}
<div class="table-responsive">
  <a href="{% url 'pos:new' %}" class="text-decoration-none">리뷰 작성</a>
  <table class="table table-primary">
    <thead>
      <tr>
        <th scope="col">리뷰 번호</th>
        <th scope="col">리뷰 목록</th>
        <th scope="col">리뷰 작성 시간</th>
      </tr>
    </thead>

    <tbody>
      {% for review in reviews %}
      <tr class="">
        <td scope="row"><a href="{% url 'pos:detail' %}">{{review.id}}</a></td>
        <td><a href="{% url 'pos:detail' %}">{{review.title}}</a></td>
        <td><a href="{% url 'pos:detail' %}">{{review.created_at}}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<h1><b>리뷰 목록 보기</b></h1>
<h1><b>리뷰 작성 하기</b></h1>
<h1><b>리뷰 수정 하기</b></h1>
<h1><b>리뷰 삭제 하기</b></h1>

{% endblock %}
