{% extends 'base.html' %} {% block content %}
<div class="table-responsive m-5">
  <table class="table table-primary text-center">
    <thead>
      <tr>
        <th scope="col">리뷰 번호</th>
        <th scope="col">리뷰 목록</th>
        <th scope="col">리뷰 작성 시간</th>
      </tr>
    </thead>

    <tbody>
      {% for review in reviews %}
      <tr class="">
        <td scope="row">{{review.id}}</td>
        <td><a href="{% url 'pos:detail' review.id %}" class="text-decoration-none">{{review.title}}</a></td>
        <td id="created_at">{{review.created_at}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary"><a href="{% url 'pos:new' %}" class="text-decoration-none text-white">리뷰 작성</a></button>
  </div>
</div>

<script>
  const created_ats = document.querySelectorAll("#created_at");
  for (created_at of created_ats) {
    const date = new Date(created_at.innerText);
    created_at.innerText = String(date.getFullYear()) + "년" + " " + String(date.getMonth()) + "월" + " " + String(date.getDate()) + "일";
  }
</script>

{% endblock %}
